@import "tailwindcss";

@theme {
  --color-primary: #7C3AED;
  --color-background: #0B031E;
  --color-foreground: #ffffff;
  --color-muted: #1e1b4b;
  --color-card: #150935;
  --color-border: #2e1065;
}

body {
  @apply bg-background text-foreground antialiased min-h-screen;
}
